<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354404391422-8mcaual8s7qk4e8lpmea530ie5lfjau5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354404391422-8mcaual8s7qk4e8lpmea530ie5lfjau5</string>
	<key>API_KEY</key>
	<string>AIzaSyBImaUscuD9PYgrdg3tpz9tWNh_-_5RNqM</string>
	<key>GCM_SENDER_ID</key>
	<string>354404391422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>agoferna.LoginSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>riddleseeker</string>
	<key>STORAGE_BUCKET</key>
	<string>riddleseeker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354404391422:ios:5639b467e4a87451</string>
	<key>DATABASE_URL</key>
	<string>https://riddleseeker.firebaseio.com</string>
</dict>
</plist>